body {
  /* background-image: url("https://images.unsplash.com/photo-1437419764061-2473afe69fc2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1632&q=80"); */
  background-image: url("https://i.pinimg.com/736x/8c/b2/bb/8cb2bba7f213e4bdb237414737e5aacc.jpg");

  background-repeat: no-repeat;
  background-size: cover;
}

/* Tasks List */
.todo-item {
  display: flex;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 30px;
}

.notepad {
  width: 80%;
  max-width: 600px;
  box-shadow: 10px 10px 40px rgba(black, 0.15);
  border-radius: 10px;
  overflow: hidden;
  text-align: left;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 35px -4px #000000,
    0px 0px 35px -4px #000000;
  box-shadow: 0px 10px 13px -7px #000000, 0px 0px 35px -4px #000000,
    0px 0px 35px -4px #000000;
  overflow: scroll;
}

.top {
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0;
  background: #333;
  border-radius: 5px 5px 0 0;
}

/* .shado {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 35px -4px #406a86;
  box-shadow: 0px 10px 13px -7px #000000, 0px 0px 35px -4px #368aa3;
} */

.paper {
  width: 100%;
  height: 100%;
  min-height: 60vh;
  padding: 35px 20px;
  /* border-radius: 20px; */
  background: repeating-linear-gradient(
    #f1ede9,
    #f1ede9 31px,
    #94acd4 31px,
    #94acd4 32px
  );
  line-height: 32px;
  outline: 0;
  font-size: 22px;
}

.font {
  font-family: "Shadows Into Light", cursive;
}

.container {
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.checking {
  display: flex;
  flex-direction: column;
}

/* Create Category */

.category-background {
  width: 300px;
  height: 150px;
  padding: 10px;
  margin: 40px;
  /* background: linear-gradient(
      217deg,
      #63686a,
      rgba(141, 219, 255, 0.507) 70.71%
    ),
    linear-gradient(127deg, #b5b5bd, rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, #3f87a6, rgba(0, 0, 255, 0) 70.71%); */
  background: linear-gradient(217deg, #3f87a6, rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, #ebf8e1, rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, #f69d3c, rgba(0, 0, 255, 0) 70.71%);
  color: rgb(0, 0, 0);
  border-radius: 10px;

  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 35px -4px #000000,
    0px 0px 35px -4px #000000;
  box-shadow: 0px 10px 13px -7px #000000, 0px 0px 35px -4px #000000,
    0px 0px 35px -4px #000000;
}
/* 
.category-container {
  display: flex;
  justify-content: center;
  width: 600px;
} */

.float-container {
  display: flex;
  width: 100vw;
  /* border: 3px solid #fff;
  padding: 20px; */
}
.float-child {
  /* display: flex; */
}
